a {
	text-decoration: none;
}

.block-it {
	display: block;
	margin: 30px;
}

#wrapper {
	position: static;
	border: 2px solid black;
}

#title {
	position: absolute;
	background-color: red;
	border: 2px solid black;
	width: 100px;
	height: 100px;
}

#date {
	position: absolute;
	background-color: blue;
	border: 2px solid black;
	width: 100px;
	height: 100px;
}

#content {
	position: absolute;
	background-color: green;
	border: 2px solid black;
	width: 100px
	height: 100px;
}
