
html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #4B0775;
}

a:visited {
  color: grey;
}

a:hover {
  color: #2FEDE4
}

body {
  margin: 0px;
  width: 100%;
}

h2 {
  text-align: center;
  font-family: 'Raleway', cursive;
}

h4 {
	text-align: center;
	font-family: 'Raleway', cursive;
}

.subtopic {
  text-align: left;
  font-family: 'Raleway', cursive;
  padding: 20px 20px 20px 0px;
  color: #4B0775;
}

.subsubtopic {
  text-align: left;
  font-family: 'Raleway', cursive;
  padding: 0px 20px 20px 0px;
  color: #4B0775
}

main {
  padding: 100px;
}

#subtitle {
  text-align: center;
  font-family: 'Raleway', cursive;
  margin-top: 0px;
}

#blog-title {
  text-align: center;
  font-family: 'Poiret One', cursive;
  margin-bottom: 5px;
}

#date {
  text-align: right;
}

#intro-quote {
	font-style: italic;
	padding-left: 100px;
	padding-right: 100px;
  text-align: center;
}

#static-example {
	float: right;
}

.center_header {
  text-align: center;
  font-family: 'Raleway', cursive;
}

.post-container {
	padding: 10px;
}

.post-content {
  font-family: 'Raleway', cursive;
  font-size: 16px;
}

.key-terms {
	color: #D415ED;
	font-weight: 700;
}

.blog-image {
	padding: 10px;
}

.list {
  font-family: 'Raleway', cursive;
  font-size: 16px;
}

.bold {
  font-family: 'Raleway', cursive;
  font-size: 16px;
  font-weight: bold
}

